<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Nosifer&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>header</h1>
        <nav>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </nav>
      </header>
      <main>
        <h2>Main</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          ipsam aperiam, tempora earum sed ad delectus cum minus, ab assumenda
          nulla nihil soluta, expedita esse quia quae corrupti fugit quas.
        </p>
        <aside>
          <h2>Aside</h2>
        </aside>
        <figure>
          <img src="https://dummyimage.com/400/ffffff/000000" alt="" />
        </figure>
      </main>
      <footer>
        <p>&copy; 2024 William Dubin</p>
      </footer>
    </div>
  </body>
</html>