/*
   Dark primary = #4D0273
   Dark secondary = #697D22
   background = #1E2601
   medium primary = #af4edf
   medium secondary = #99AB59
   light text = ivory
   dark text = black

*/

/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end css reset  */

* {
  box-sizing: border-box;
}

.fragment-mono-regular,
p {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular-italic,
em {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.nosifer-regular,
h1,
h2,
h3 {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #1e2601;
  color: ivory;
  line-height: 1.5;
  font-size: 20px;
}
h1 {
  color: #af4edf;
  text-align: center;
  font-size: 50px;
}

nav a {
  color: ivory;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 20px;
  border: 2px solid #99ab59;
  background: #99ab49;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  font-family: "Nosifer", sans-serif;
}
header {
  min-height: 100px;
}
.container {
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  max-width: 1200px;
  border: 2px solid #99ab49;
}

nav {
  text-align: center;
  padding: 15px;
  color: white;
}

aside {
  width: 20%;
  margin: 10px;
  float: right;
  min-height: 100px;
}

figure {
  clear: both;
  width: 40%;
  margin: 10px;
  float: left;
  padding: 15px;
}

main {
  width: 95%;
  margin: 10px auto;
  overflow: auto;
}

footer {
  clear: both;
  color: orange;
}

.left {
  clear: both;
  float: left;
  width: 50%;
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  background-color: black;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

img {
  margin: 10px auto;
  width: 90%;
  display: block;
}

#main-image {
    width: 60%;
    margin: 10px auto;
  }