body {
  background-color: rgb(59, 2, 2);
  color: rgb(240, 240, 182);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: 10px auto;
  background-color: black;
  padding: 30px;
}

h1,
h2 {
  color: rgb(219, 122, 19);
  font-weight: bolder;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-left: 30%;
}

ul a {
  text-decoration: none;
  line-height: 1.5;
  font-size: large;
  color: rgb(240, 240, 182);
}

nav {
  text-align: center;
}

nav a {
  margin-left: 30px;
  color: #efefa4;
  text-decoration:none;
  font-size:20px;
  padding: 10px 15px;
  line-height:3;
  background-color: #7f0600;
  border-radius:20px;
  text-shadow: 3px 3px 3px #FFFF33;
  border: 2px solid #7f0600;
}

nav a:hover{
  color:#7f0600;
  background: #efefa4;
}