/* Styles */
body{
    background-color: blue;
    color: aqua;
    font-size: large;
    font-weight: bold;
}

.container{
    width: 80%;
    margin: 15px auto;
}


h1{
    color: aqua;

}
div{
    width: 30%;
}

header{
    text-align: center;
    font-family: fantasy;
}

div, header, main, footer{
    border: 2px solid orange;
}